@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;

*, *:before, *:after {
  box-sizing: border-box;
}
ul{
  list-style: none;
}


.container {
  margin: 0 auto;
  width: 960px;
  background: #444753;
  border-radius: 5px;
}

.people-list {
  width:210px;
  float: left;
  
  input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
  }
  
  .fa-search {
    position: relative;
    left: -25px;
  }
  
  ul {
    padding: 20px;
    
    li {
      padding-bottom: 20px;
    }
  }
  
  .avatar {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color:$gray;
    font-size:22px;
    border:2px solid $orange;
    margin-top:7px;
  }
  
  .about {
    float: left;
    margin-top: 8px;
  }
  
  .about {
    padding-left: 8px;
  }
  
  .status {
    color: $gray;
  }
  
}

.chat {
  width: 750px;
  float:left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  
  color: #434651;
  
  .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
    
    img {
      float: left;
    }
    
    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }
    
    .chat-with {
      font-weight: bold;
      font-size: 16px;
    }
    
    .chat-num-messages {
      color: $gray;
    }
    
    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  }
  
  .chat-history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;
    
    .message-data {
      margin-bottom: 15px;
    }
    
    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
    }
    
    .message {      
      color: white;
      padding: 18px 20px;
      line-height: 26px;
      font-size: 16px;
      border-radius: 7px;
      margin-bottom: 30px;
      width: 60%;
      position: relative;
      
      &:after {
        bottom: 100%;
        right: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $blue;
        border-width: 10px;
        margin-left: -10px;
      }
    }
    
    .my-message {
      background: $blue;
      float: right;
    }
    
    .other-message {
      float: left;
      background: $green;
      
      &:after {
        border-bottom-color: $green;
        left: 7%;
      }
    }
    
  }
  
  .chat-message {
    padding: 30px;
    
    textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font-family: 'Open Sans', sans-serif;
      font-size:16px;
      font-weight: 300;;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;
      
    }
    
    .fa-file-o, .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;
      
    }
    
    button {
      float: right;
      color: $blue;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8;
      
      &:hover {
        color: darken($blue, 7%);
      }
    }
  }
}

.online, .offline, .me {
    margin-right: 3px;
  }
  
.online {
  color: $green;
  width: 6px;
  height: 6px;
  color: $green;
  z-index: 555;
  background: $green;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 2px;
  
}
  
.offline {
  color: $orange;
}

.me {
  color: $blue;
}


.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media (max-width: 767px) {
  .app{
    margin-top:0!important;
  }
  body{
    background: #fff;
  }
  .container{
    width: 100%;
    background: #fff;
    margin-top: 0;
  }

  .people-list{
    display: none;
  }

  .chat{
    width: 100%;

    .chat-history{
      margin-bottom: 100px;
    }
    .chat-message{
      position: fixed;
      bottom: 0;
      background: #F2F5F8;
      width: 100%;
      textarea{
        height: 50px;
        border:1px solid #ccc
      }
    }
  }


}
